<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Handlebars</title>
</head>
<body>
<div>
  <div>
    <div>
      <p>{{label "dear" locale=locale}} {{fullName}},</p>
      {{label "message" locale=locale}}
    </div>
  </div>
</div>
</body>
</html>
