<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>handlebars-i18n</contextName>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="root" level="ERROR" />
  <logger name="me.valizadeh" level="DEBUG" />
</configuration>